@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <div style="display: flex; justify-content: space-around; margin-top: 40px;">
            <iframe src="@Url.Page("/Chart1")" width="400" height="400" scrolling="no"></iframe>
            <iframe src="@Url.Page("/Chart2")" width="400" height="400" scrolling="no"></iframe>
        </div>
    }
</div>
